**Atp 2024 season analysis**


Main stats to do:


1-surface winrate for each player


2-

In [2]:
# Importing libraries 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [4]:
##reading the data
tf = pd.read_csv('atp_matches_2024.csv')
tf.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2024-0339,Brisbane,Hard,32,A,20240101,300,105777,2.0,NaN,...,58.0,44.0,16.0,11.0,8.0,9.0,14.0,2570.0,8.0,3660.0
1,2024-0339,Brisbane,Hard,32,A,20240101,299,208029,1.0,NaN,...,35.0,31.0,10.0,11.0,5.0,7.0,8.0,3660.0,39.0,1122.0
2,2024-0339,Brisbane,Hard,32,A,20240101,298,105777,2.0,NaN,...,39.0,24.0,14.0,10.0,5.0,7.0,14.0,2570.0,55.0,902.0
3,2024-0339,Brisbane,Hard,32,A,20240101,297,208029,1.0,NaN,...,51.0,31.0,16.0,10.0,3.0,5.0,8.0,3660.0,116.0,573.0
4,2024-0339,Brisbane,Hard,32,A,20240101,296,126128,NaN,NaN,...,37.0,27.0,16.0,10.0,5.0,8.0,39.0,1122.0,44.0,1021.0

In [5]:
tf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3076 entries, 0 to 3075
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          3076 non-null   object
 1   tourney_name        3076 non-null   object
 2   surface             3076 non-null   object
 3   draw_size           3076 non-null   int64
 4   tourney_level       3076 non-null   object
 5   tourney_date        3076 non-null   int64
 6   match_num           3076 non-null   int64
 7   winner_id           3076 non-null   int64
 8   winner_seed         1294 non-null   float64
 9   winner_entry        477 non-null    object
 10  winner_name         3076 non-null   object
 11  winner_hand         3076 non-null   object
 12  winner_ht           3057 non-null   float64
 13  winner_ioc          3076 non-null   object
 14  winner_age          3075 non-null   float64
 15  loser_id            3076 non-null   int64
 16  loser_seed          757 non-null    float64
 17  loser_entry         718 non-null    object
 18  loser_name          3076 non-null   object
 19  loser_hand          3076 non-null   object
 20  loser_ht            3026 non-null   float64
 21  loser_ioc           3076 non-null   object
 22  loser_age           3075 non-null   float64
 23  score               3076 non-null   object
 24  best_of             3076 non-null   int64
 25  round               3076 non-null   object
 26  minutes             2838 non-null   float64
 27  w_ace               3016 non-null   float64
 28  w_df                3016 non-null   float64
 29  w_svpt              3016 non-null   float64
 30  w_1stIn             3016 non-null   float64
 31  w_1stWon            3016 non-null   float64
 32  w_2ndWon            3016 non-null   float64
 33  w_SvGms             3015 non-null   float64
 34  w_bpSaved           3016 non-null   float64
 35  w_bpFaced           3016 non-null   float64
 36  l_ace               3016 non-null   float64
 37  l_df                3016 non-null   float64
 38  l_svpt              3016 non-null   float64
 39  l_1stIn             3016 non-null   float64
 40  l_1stWon            3016 non-null   float64
 41  l_2ndWon            3016 non-null   float64
 42  l_SvGms             3015 non-null   float64
 43  l_bpSaved           3016 non-null   float64
 44  l_bpFaced           3016 non-null   float64
 45  winner_rank         3059 non-null   float64
 46  winner_rank_points  3059 non-null   float64
 47  loser_rank          3036 non-null   float64
 48  loser_rank_points   3036 non-null   float64
dtypes: float64(29), int64(6), object(14)
memory usage: 1.2+ MB